/* Box Model Hack */

*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  border: 3px solid grey;
  border-radius: 10px;
}

h1 {
  margin: 20px 39%;
}
#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5px solid rgba(150, 200, 175, 1);
  border-radius: 50%;
  background-color: grey;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: orange;
  color: white;
  transition: 0.65 ease-in-out;
}
#equal {
  background-color: orange;
  color: white;
}
.symbol {
  background-color: orange;
  color: white;
}
.topsymbol {
  background-color: lightgrey;
  color: black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
